@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    background-color: #000000;
    color: #fff;
    white-space: nowrap;
}

.wrap {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px auto;
    width: 100%;
}

.header-ul ul {
    list-style-type: none;
    display: flex;
}

.header-ul ul li {
    padding: 10px;
    border-bottom: 4px solid #7067ff;
    margin-right: 10px;
}

.upload, .create {
    padding: 8.5px 16px; 
    background: linear-gradient(
        103deg
        ,#6157ff,#7067ff,#6157ff);
    color: #fff;
    border: none;
    font-family: 'Poppins';
    font-weight: bold;
}

.login {
    padding: 8px 50px;
    background-color: #404040;
    color: #fff;
    border: none;
    margin-left: 10px;
    font-family: 'Poppins';
    font-weight: bold;
}

.searchbar-container {
    margin: 20px auto;
    width: 100%;
    position: relative;
}

.sticky {
    position: fixed;
    top: -20px;
    max-width: 1020px;
}

.searchbar-container input {
    width: 100%;
    padding: 15px 0px;
    font-family: 'Poppins';
    font-weight: bold;
}

input[placeholder] {
    font-size: 16px;
    padding-left: 20px;
}

.searchbar-container i {
    position: absolute;
    background-color: #111;
    padding: 19px;
    right: 0;
    background-image: linear-gradient(
45deg
, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
cursor: pointer;
}

.title, .title2, .title3 {
    padding: 5px 0px;
    display: flex;
    margin-top: 60px;
}

.title i {
    color: lightblue;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 25px;
}

.title2 i {
    color: yellow;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 25px;
}

.title3 i {
    color: pink;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 25px;
}

.gif-container, .gif-container2, .gif-container3{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
    overflow: hidden;
    width: 100%;
}

.image-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.image-container3 img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image-container img {
    margin: 10px;
    overflow: hidden;
    width: auto;
}

.image-container2 img{
    margin-top: -10px;
    overflow: hidden;
    width: auto;
}

.image-container, .image-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    border-top: 2px solid #fff;
}

.footer h3 {
    margin-top: 10px;
}

.footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.footer ul li {
    padding: 20px;
}